body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #8e44ad, #3498db);
  margin: 0;
  padding: 0;
  direction: rtl;
  color: #fff;
}

header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 150px; /* زيادة الارتفاع ليشمل الشعار والنص */
}

header img {
  height: 360px; /* تكبير الشعار إلى ثلاثة أضعاف حجمه الحالي */
  position: absolute;
  left: 30px;
}

header h1 {
  margin: 0;
  font-size: 48px; /* زيادة حجم النص ثلاث أضعاف */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding-left: 200px;
  color: #ffcc00; /* اللون الذي سيظهر بشكل أفضل */
}

main {
  padding: 30px;
  color: #ecf0f1;
  text-align: center;
}

#departments {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
}

.department-card {
  background-color: #34495e;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  padding: 25px;
  width: 250px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: center;
  transform: scale(1);
}

.department-card:hover {
  transform: scale(1.1);
  background-color: #1abc9c;
}

.department-card h3 {
  font-size: 24px;
  margin: 10px 0;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.department-card p {
  color: #ecf0f1;
  font-size: 16px;
}

#projects {
  display: none;
  background-color: #34495e;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  margin-top: 20px;
}

#projects.visible {
  display: block;
}

.project-box {
  background-color: #1abc9c;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
}

.project-box:hover {
  background-color: #16a085;
}

.project-box h3 {
  margin-top: 0;
  color: #2c3e50;
}

.project-box p {
  font-size: 16px;
}

#back-button {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

#back-button:hover {
  background-color: #3498db;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 28px; /* تغيير حجم النص لتناسب الشاشات الصغيرة */
  }

  .department-card {
    width: 200px;
    padding: 20px;
  }

  .project-box {
    padding: 15px;
  }

  #back-button {
    font-size: 16px;
  }
}
